.editor{
  .ql-container{
    padding-right: 30px;

      .ql-editor{
          font-family: 'osaka-mono';
          font-size: 14px;
          min-height: 100vh;
          color:lime!important;
          span {
            color:lime!important;
            background: #000!important;
          }
          margin-top: 50px;

      }
  }
}
