.editor{
  position: static;
  .ql-container{
    padding-right: 30px;

      .ql-editor{
        font-family: 'osaka-mono', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
          font-size: 14px;
          min-height: 100vh;
          color:lime!important;
          span {
            color:lime!important;
            background: #000!important;
          }
          margin-top: 10px;

      }
  }
}
