@font-face {
  font-family: 'WhiteRabbit';
  src: url('WhiteRabbit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'whitrabt';
  src: url('whitrabt.eot');
  src: url('whitrabt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

