#sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
    max-width: 220px;
}
  .sidebar{
    min-height: 100vh;

    .note{
      cursor: pointer;
      color:rgba(0, 255, 1, 0.88);
      font-size: 0.7rem;
      padding: .8em .5rem;
      border-bottom: 1px solid rgba(0, 255, 0, 0.2);
      line-height: 0.9rem;
      &:hover{
        background: rgba(0,255,0, 0.2);
      }
    }
    /*
    .form-inline{
      width: 100%;
      input{
        width: 100%;
        background: inherit;
        border-color: rgba(0, 255, 1, 0.38);
        margin: 0;
        font-size: 0.9rem!important;
        &::placeholder {
          color:rgba(255, 255, 255, 0.334)
        }
        &:active, &:focus{
          outline: 0;
          background: inherit;
          color: lime;
        }
      }

    }
    */
  }
