#sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
    max-width: 220px;

}
  .sidebar{
    min-height: 100vh;

    .note{
      cursor: pointer;
      color:rgba(0, 255, 1, 0.88);

      padding: 0.7em .5rem;
      border-bottom: 1px solid rgba(0, 255, 0, 0.2);
      line-height: 0.9rem;
      &:hover{
        background: rgba(0,255,0, 0.1);
      }
      .desc, .when{
        height: 100%;
        display: block;
        margin-bottom: 4px;
      }
      .desc{
        font-size: 0.7rem;
        font-weight: 500
      }
      .when{
        font-weight: 300;
        font-size: 0.7rem;
        color:rgba(36, 36, 36, 1.000)
      }
    }
    .form-control{
      background: inherit;
      font-size: 0.9rem!important;
      // border: 0;
      border-top:0;
      border-right:0;
      border-left:0;
      // margin: 0;
      color:rgba(255, 255, 255, 0.334);
      &:active, &:focus, &:hover{
        outline: 0;
        background: inherit;
          color: lime;
      }
    }
    /*
    .form-inline{
      width: 100%;
      input{
        width: 100%;
        background: inherit;
        border-color: rgba(0, 255, 1, 0.38);
        margin: 0;
        font-size: 0.9rem!important;
        &::placeholder {
          color:rgba(255, 255, 255, 0.334)
        }
        &:active, &:focus{
          outline: 0;
          background: inherit;
          color: lime;
        }
      }

    }
    */
  }
