@import "~bootstrap/scss/bootstrap";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";

body{
  font-size: 1.6em;
  line-height: 1.2em;
  background: #000;
  color:lime!important;
  font-family: 'osaka-mono';
  overflow-x: hidden;
  min-height: 100vh;
}

#page-content-wrapper {
  min-width: 100vw;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -14rem;
  }
}
