@import "~bootstrap/scss/bootstrap";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";

body{
  font-size: 1.6em;
  line-height: 1.2em;
  background: #000;
  color:lime!important;

  font-family: 'osaka-mono';
  overflow-x: hidden;
  height: 100vh;
}
.container{
  min-width:99%!important;
  padding:0!important;
  padding-right: 10px!important;
}
